<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ps.isel.customersscheduling">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CustomersSchedulingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.DefinitionsActivity" />
        <activity android:name=".Activities.RegisterStoreActivity">

        </activity>
        <activity android:name=".Activities.BaseLayoutsActivities.BaseActivityWithOnlyBackArrow" />
        <activity android:name=".Activities.DefinitionsActivities.EditProfileActivity" >
        </activity>
        <activity android:name=".Activities.DefinitionsActivities.ChangeEmailActivity" />
        <activity android:name=".Activities.DefinitionsActivities.ChangePasswordActivity" />
        <activity android:name=".Activities.DefinitionsActivities.EditNotificationsActivity" />
        <activity android:name=".Activities.AboutActivity" />
        <activity android:name=".Activities.UserBusinessActivity" android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".Activities.SignInActivity">

        </activity>
    </application>

</manifest>