<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ps.isel.customersscheduling">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CustomersSchedulingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activities.requestsDone.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.requestsDone.BusinessActivity" />
        <activity android:name=".Activities.requestsDone.FilterActivity" />
        <activity android:name=".Activities.SearchResultsActivity" />
        <activity android:name=".Activities.requestsDone.DefinitionsActivity" />
        <activity android:name=".Activities.requestsDone.FavouritesActivity" />
        <activity android:name=".Activities.requestsDone.RegisterStoreActivity" />
        <activity android:name=".Activities.PendentRequestsActivity" />
        <activity android:name=".Activities.BaseLayoutsActivities.BaseActivityWithOnlyBackArrow" />
        <activity android:name=".Activities.DefinitionsActivities.EditProfileActivity" />
        <activity android:name=".Activities.DefinitionsActivities.ChangeEmailActivity" />
        <activity android:name=".Activities.DefinitionsActivities.ChangePasswordActivity" />
        <activity android:name=".Activities.DefinitionsActivities.EditNotificationsActivity" />
        <activity android:name=".Activities.requestsDone.AboutActivity" />
        <activity android:name=".Activities.ServicesActivity" />
        <activity android:name=".Activities.SchedulesActivity" />
        <activity android:name=".Activities.requestsDone.MyBusinessActivity" />
        <activity android:name=".Activities.requestsDone.AddWorkTimeActivity" />
        <activity android:name=".Activities.requestsDone.AddStaffActivity" />
        <activity android:name=".Activities.requestsDone.AddStaffScheduleActivity" />
        <activity android:name=".Activities.requestsDone.AddOtherEmpOrEndActivity"></activity>
    </application>

</manifest>